* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@media only screen and (max-width: 600px) {

  body {

    background: var(--clr_dark);
    color: var(--clr_light);
    font-family: "Switzer";
    font-size: 10px;
    font-weight: 300;
    height: 100dvh;
    width: 100%;


  }

  @font-face {
    font-family: "Switzer";
    src: url("../fonts/Switzer-Light.otf") format("opentype");
  }

  :root {
    --clr_light: #F7F8FE;
    --clr_dark: #000715;
    --clr_mid1: #14112C;
    --clr_mid2: #717ADB;
    --clr_mid3: #D2D0FF;
    --clr_accent1: #4778FF;
    --clr_accent2: #52CFFF;
  }



  .button__squircle {
    margin: 8px;
    padding: 16px 24px;
    outline: none;
    border: none;
    --squircle-smooth: 0.8;
    --squircle-radius: 20px;
    background-color: #4778FF;
    color: var(--clr_light);

  }

  .squircle {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--clr_light);
    background: paint(squircle);
    --squircle-smooth: 1;
    --squircle-radius: 16px;
    --squircle-fill: #4778FF;
  }


  .bottom__button {
    position: absolute;
    top: 90%;
    left: 20%;

  }

  .onboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .onboard img {
    width: 100%;
    margin-top: 5rem;
  }

  .onboard__text {
    bottom: 13rem;
    position: absolute;
    text-align: center;
  }

  .onboard h1 {
    font-size: 3rem;
  }

  .onboard__text p {
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--clr_mid3);
  }

  .headphones__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    font-size: 0.8rem;
    color: var(--clr_mid2);
    position: absolute;
    bottom: 5rem;
  }

  #fi_2972413 {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 6px;
    fill: var(--clr_mid2);
  }

}